
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6e9;
    color: #5c2c3e;
}

header {
    background-color: #ffccd5;
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #5c2c3e;
    font-weight: bold;
}


nav ul li a:hover {
    color: #ffffff;
    border-radius: 3px;
}



.libros-container {
    text-align: center;
    padding: 40px 20px;
    
}


img {
    
    width: 100%;
    max-width: 125px;
    border-radius: 10px;
    margin-bottom: 20px;
}

img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}


footer {
    background: #ffccd5;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .products {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 80%;
        max-width: 300px;
    }

}

@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        height: 40vh;
        padding: 10px;
    }

    .hero-content {
        width: 90%;
        padding: 15px;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 90%;
        max-width: 250px;
    }
}
